{%include 'staff_pages/staff_header.html'%}
<style>
      body {
    background-image: url("/static/login/images/6.jpg");
          background-repeat: no-repeat;
          background-size: auto;
         background-repeat: no-repeat;
  background-size: 1600px 900px;
  </style>
<h1 style="color: #d81a69; ">VIEW CUSTOMER</h1>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>Sl.No</th>
            <th>Email</th>
            <th>Name</th>
            <th>Address</th>
            <th>Pincode</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Status</th>
            </th>

        </tr>

</thead>
{%for i in a3%}

 <td>{{forloop.counter}}</td>
 <td>{{i.USERNAME_id}}</td>
 <td>{{i.C_Fname}} {{i.C_Lname}}</td>
 <td>{{i.C_House}} House {{i.C_Place}} {{i.C_City}} {{i.C_Dist}} {{i.C_Pin}}</td> 
 <td>{{i.C_Phone}}</td>
 <td>{{i.C_DOB}}</td>
 <td>{{i.C_Gender}}</td>
 <td>{{i.C_Status}}</td>


<tr>
    {%endfor%}
</tr>


    <tbody>
        <tr>
            

        </tr>
    </tbody>
</table>

{%include 'footer.html' %}