{% include 'admin_pages/admin_header.html' %}
  <style>
      body {
    background-image: url("/static/login/images/5.jpg");
          background-repeat: no-repeat;
          background-size: auto;
         background-repeat: no-repeat;
  background-size: 1600px 900px;
  </style>

{%if q1%}


    <div class="" >
    <form action="" method="post">

    {% csrf_token %}
<center>
    <div class="col-6 bg-light">
            <h1 style=" ">UPDATE CATEGORY</h1>

            <table class="table table-bordered table-hover">
        <tr>
            <th>Category Name</th>
            <td> <input type="text" placeholder="Category Name" id="Catname" name="Catname" value="{{q1.Cat_Name}}" required class="form-control"></td>
        </tr>
        <tr>
            <th>Category Description</th>
            <td><textarea name="Catdesc" id="Description" cols="80" rows="5" class="form-control" required>{{q1.Cat_Desc}}</textarea></td>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Update" name="Update"></td>
        </tr>
    </table>

    </div>
</center>
</form>



{%else%}
    <div class="py-5">
<form action="" method="post">

    {% csrf_token %}
<center>
    <div class="col-6 bg-light">
            <h1 style=" ">ADD CATEGORY</h1>

            <table>
        <tr>
            <th style="font-size:large">Category Name</th>
            <td> <input type="text" placeholder="Category Name" id="Catname" name="Catname" class="form-control" required></td>
        </tr>
        <tr>
            <th style="font-size:large">Category Description</th>
            <td><textarea name="Catdesc" id="Description" cols="80" rows="5" class="form-control" placeholder="Enter Here" required></textarea></td>
        <tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Submit" name="Submit"></td>
        </tr>
    </table>

    </div>
</center>
</form>

</div>
<table class="table table-success table-striped py-5">
    <thead>
        <tr>
            <th>Sl.No</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        {% for i in a6 %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.Cat_Name}}</td>
            <td>{{ i.Cat_Desc }}</td>
            <td><a href="/admin_update_category/{{i.id}}" class="btn btn-success">Update</a></td>
        </tr>
       
        {% endfor %}

        {%endif%}
    </tbody>
</table>

{% include 'footer.html' %}
