{%include 'admin_pages/admin_header.html' %}
<style>
      body {
    background-image: url("/static/login/images/5.jpg");
          background-repeat: no-repeat;
          background-size: auto;
         background-repeat: no-repeat;
  background-size: 1600px 900px;
  </style>
{#<ul>#}
{#    {% for i in q1 %}#}
{#        <li style="color: #d81a69;">{{ i.FLOWER.Flower_Name }} - {{ i.FLOWER.Color }}</li>#}
{##}
{#        <li style="color: #d81a69;"><img src="/{{i.FLOWER.Img}}" alt="" width="200" height="200"></li>#}
{#    {% endfor %}#}
{#</ul>#}
<div class="bg-light container">
<h1 style="color: #d81a69;">Flower Items:</h1>

    <table class="table table-bordered">
    <tr>
    <th>Sl</th>
    <th>Name</th>
    <th>Flower</th>
</tr>

    {% for i in q1 %}

<tr>
    <th>{{ forloop.counter }}</th>
    <td>{{ i.FLOWER.Flower_Name }} - {{ i.FLOWER.Color }}</td>
    <th><img src="/{{i.FLOWER.Img}}" alt="" width="200" height="200"></th>
</tr>
{% endfor %}


</table>
</div>
{%include 'footer.html' %}